.header__lang-link {
  text-decoration: none;
  text-align: bottom;
  font-size: 24px;
  font-weight: normal;
  color:#FFFFFF;
  line-height: 1.2;
  margin:0;
  margin-bottom: 6px;
}

.header__lang-link:hover {
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}
