.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    width: 460px;
    text-align: left;
    margin:0;
    margin-bottom: 48px;
}

@media screen and (max-width: 1279px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        max-width: 340px;
        white-space: pre-wrap;
        font-size: 43.5px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        width: 288px;
        font-size: 32px;
        margin-bottom: 32px;
        margin-left: 5%;
    }
}