.footer__links {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   padding:0;
   margin:0;


}

@media screen and (max-width: 767px) {
   .footer__links {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 158px;
      height: 248px;
      margin-bottom: 48px;

   }
 }