.intro {
  max-width: 984px;
  padding:0;
  margin: 92px auto 92px; 
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

