.cover {
  margin: auto;
  margin-top: 92px;
  max-width: 1184px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
   
}

.cover:hover .cover__overlay {
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 100%;
    margin-top: 64px;
  }
}