.place__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    text-align: left;
    border-bottom: 2px solid #FFFFFF;

    color: #FFFFFF;
    margin:0;
    padding:0;
    transform: opacity;
    transition: opacity .5s ease-in-out;
}

.place__link:hover {
    opacity: 80%;
}