.cover__title {
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    text-align: center;
    max-width: 560px;
    margin: 0 auto 32px;
    text-decoration: none;

}


@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        max-width: 250px;
        margin-bottom: 16px;
    }
  }