.footer {
    max-width: 1184px;
    margin: 92px auto 24px;
    padding:0;
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        max-width: 100%;
        max-height: auto;
        margin-left: 5%;
        margin-top: 64px;
   
    }
}