.intro__title{
    max-width: 690px;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;
    text-align: left;
    margin:0;
    padding:0;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 250px;
        font-size: 32px;
    }
}